TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
TELEGRAM_REPORT_USER_IDS=111111111,222222222
TELEGRAM_ALLOWED_USER_IDS=1717978273,1102268405,7639590902,544099515,625894744,1329907157
GOOGLE_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=./service-account.json
TIMEZONE=Europe/Moscow
DAILY_REPORT_CRON=58 23 * * *
WEEKLY_REPORT_CRON=59 23 * * 0
CYCLE_START_DATE=2025-01-06
LOG_LEVEL=info
